@use "element-plus/theme-chalk/src/dark/css-vars.scss" as *;
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');
body {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  margin: 0;
  background-color: var(--ep-bg-color);
}

code {
  border-radius: 2px;
  padding: 2px 4px;
}
