// only scss variables

$red: rgb(247, 33, 105);
$navy: rgb(7, 25, 41);

$--colors: (
  "primary": (
    "base": $red,
  ),
);

@forward "element-plus/theme-chalk/src/dark/var.scss" with (
  $colors: $--colors,
  $bg-color: (
    "page": #000000,
    "": #000000,
    "overlay": $navy,
  )
);
